<Li>
  Dzongkhag wise Covid cases
  <br />

  <ul>
    Bumthang
  </ul>
  <ul>
    Chhukha
  </ul>
  <ul>
    Dagana
  </ul>
  <ul>
    Gasa
  </ul>
  <ul>
    Haa
  </ul>
  <ul>
    Lhuentse
  </ul>
  <ul>
    Monggar
  </ul>
  <ul>
    Paro
  </ul>
  <ul>
    Pema Gatshel
  </ul>
  <ul>
    Punakha
  </ul>
  <ul>
    Samdrup Jongkhar
  </ul>
  <ul>
    Samtse
  </ul>
  <ul>
    Sarpang
  </ul>
  <ul>
    Thimphu
  </ul>
  <ul>
    Trashigang
  </ul>
  <ul>
    Trashi Yangtse
  </ul>
  <ul>
    Trongsa
  </ul>
  <ul>
    Tsirang
  </ul>
  <ul>
    Wangdue Phodrang
  </ul>
  <ul>
    Zhemgang
  </ul>
</Li>
