<main role="main" class="container">
  <div class="jumbotron">
    <h1>Welcome to Covid19 Tracking App</h1>
    <p style="text-align: center" class="lead">
      Covid-19 is a growing <b>global pandemic.</b> Its is our responsiblility
      to create a covid free society. This application is designed to track the
      cases and contain the spread of the pandemic.
      <br />

      <b> STAY SAFE!</b>
      <b> KEEP SOCIAL DISTANCING!</b>
      <b> WASH YA' HANDS</b>
      <img src="assets/covidimage.jpg" alt="" />
    </p>
  </div>
</main>
